.heading
{
  font-size: 20px;
  box-shadow: 5px 5px 5px grey;
  width: 100%;
  margin: 0px;
}

.heading_div
{
    float: none;
    background: rgb(255, 0, 0) ;
    color:black;
    box-shadow: 5px 5px 5px grey ;
    border-radius: 20px;
}

.heading_div2
{
  font-size: 20px;
}
.result_para_tag
{
  box-shadow: 5px 5px 5px grey;
  font-size: 23px;
}

.copy_right_footer
{
  color: white;
  width: 100%;
  bottom: 0;
  position: fixed;
  background-color: black;
  line-height: 3;
  text-align: center;
}

canvas
{
  border: 5px solid white;
  border-radius: 20px;
  box-shadow: 5px 5px 5px grey;
  margin-top: 150px;
}